<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meses das Despesas</title>
</head>
<body>
    <h1>Meses das Despesas</h1>
    <ul>
        <li><a href="{{ url_for('janeiro') }}">Janeiro</a></li>
        <li><a href="{{ url_for('fevereiro') }}">Fevereiro</a></li>
        <li><a href="{{ url_for('marco') }}">Março</a></li>
        <li><a href="{{ url_for('abril') }}">Abril</a></li>
        <li><a href="{{ url_for('maio') }}">Maio</a></li>
        <li><a href="{{ url_for('junho') }}">Junho</a></li>
        <li><a href="{{ url_for('julho') }}">Julho</a></li>
        <li><a href="{{ url_for('agosto') }}">Agosto</a></li>
        <li><a href="{{ url_for('setembro') }}">Setembro</a></li>
        <li><a href="{{ url_for('outubro') }}">Outubro</a></li>
        <li><a href="{{ url_for('novembro') }}">Novembro</a></li>
        <li><a href="{{ url_for('dezembro') }}">Dezembro</a></li>
    </ul>
</body>
</html>
